<!-- layout.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Trip Planner{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-select/css/bootstrap-select.min.css">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-items">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span class='glyphicon glyphicon-map-marker' aria-hidden='true'></span>Trip Planner</a>
        </div>
        <div id="nav-items" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="selections">
      {% block content %}{% endblock %}
    </div>
    <hr/>
    <script src="jquery/jquery.min.js"></script>
   <script src="bootstrap/js/bootstrap.min.js"></script>
   <script src="bootstrap-select/js/bootstrap-select.min.js"></script>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcYjN5jP-rPPOLIhtqmTNbXvAThvRDZzM&sensor=true"></script>
   <script src="/scripts/map.js"></script>
  </body>
</html>